* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Barlow', sans-serif;
}

a,
button,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
}

#root {
  min-height: 100vh;
}
